@font-face {
  font-family: 'iconfont';
  src: url('fonts/icomoon.eot?t=1531881133795'); /* IE9*/
  src: url('fonts/icomoon.eot?t=1531881133795#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/icomoon.ttf?t=1531881133795') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/icomoon.svg?t=1531881133795#iconfont') format('svg'); /* iOS 4.1- */
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon-8:before { content: "\e661"; }

.icon-11:before { content: "\e71e"; }

.icon-6:before { content: "\e611"; }

.icon-20:before { content: "\e7d4"; }

.icon-7:before { content: "\e618"; }

.icon-16:before { content: "\e62f"; }

.icon-18:before { content: "\e60d"; }

.icon-5:before { content: "\e839"; }

.icon-10:before { content: "\e666"; }

.icon-9:before { content: "\e63a"; }

.icon-13:before { content: "\e624"; }

.icon-14:before { content: "\e798"; }

.icon-15:before { content: "\e60b"; }

.icon-12:before { content: "\e696"; }

.icon-17:before { content: "\e697"; }

.icon-19:before { content: "\e60f"; }

.icon-2:before { content: "\e607"; }

.icon-1:before { content: "\e608"; }

.icon-4:before { content: "\e609"; }

.icon-3:before { content: "\e60a"; }